<template name='addTreeForm'>
    <p>nom complet de l'utilisateur ayant contribué (prénom + nom) : <input type="text" placeholder="prénom + nom" id="nomTree"/></p>
    <p>date de plantation : <input type="date" id="dateTree"/></p>
    <p>nombres d'arbres plantés : <input type="number" id="nbrTree"/></p>
    <p>coordonnées des arbres (latitude et longitude) : <input type="text" id="latLongTree"/></p>
    <p><button id="submitTree">ajouter</button></p>
    <p><button id="homeButton">home</button></p>
    <p>Entrer un fichier : <form action="../images/"><input type="file" id="myfile" name="myfile" accept=".csv"><input type="submit"></form></p>
</template>