<template name="addUpdateForm">
    {{#if currentUser}}
        <div class = "mainPageDiv">
            <div class = "maps_info" align="center">
                <span class="monAdmin" style="margin-top:0px;">Ajouter une mise à jour</span>
                <form id="formChangePass">
                    <div class="half-div">
                        <p>Numéro du projet : </p>
                        <p><input type="text" class="inputReg" id="numProj" placeholder="Numéro du projet"></p>
                    </div>
                    <div class="half-div">
                        <p>Code du projet :</p>
                        <p><input type="text" class="inputReg" id="codeProj" placeholder="Code du projet"></p>
                    </div>
                    <p class="pReg">Mise à jour du projet :</p>
                    <p><textarea class="largeInput" id="updateProj" name="updateProj" form="formChangePass" placeholder="Update à ajouter."></textarea></p>
                    <p class="pReg"><input class="buttonGeneral" type="submit"></p>
                    <p class="pReg"><button class="buttonGeneral" id="btnHome">Retour</button></p>
                </form>
            </div>
        </div>
        {{> footerApp}}
    {{else}}
        {{> mainPage}}
    {{/if}}
    {{> disconnectHeader}}
</template>