<template name='mainPage'>
    {{#if currentUser}}
    {{> disconnectHeader}}
    <img src="/images/emaualogo.png" alt="" class="logoTitle"/>
        {{#if isAdmin}}
            <button id="addTreeBtn">ajouter arbre</button>
        {{else}}
        <ol>
            {{#each treeProjects}}
                {{#each profile.trees}}
                    <li>{{this}}</li>
                    <!--TEMPLATE POUR GOOGLE MAPS-->
                {{/each}}
            {{/each}}
        </ol>
        {{/if}}
    {{else}}
    <img src="/images/emaualogo.png" alt="" class="logoTitle"/>
        <!--SI ON N'EST PAS CONNECTÉ ON A LES BOUTONS DE CONNEXION-->
        {{> loginBtn}}
        <div align=center>
            <hr width="25%">
            <p>
                <form id="codeButton">
                    <input type="text" id="monCode" placeholder="Entrer un code" class="codeTree"/>
                    <input type="submit" class="codeButton" value="✓">
                </form>
            </p>
        </div>
    {{/if}}
</template>