<template name='mainPage'>
    {{> disconnectHeader}}
    {{#if currentUser}}
        {{#if isAdmin}}
        {{else}}
            {{#if isVerified}}
            <!--si le user est connecté, qu'il n'est pas admin et que son email est vérifié-->
            <div class = "mainPageDiv mainPageDivApp">
                <h2 style="color:white;text-align:center; font-size: 50px;">VOICI LA LISTE DE NOS PROJETS</h2>
                <p style="color:white;text-align:center;padding:0px 300px 0px 300px;line-height: 25px;"> Nos projets sont réparti sur une zone de la taille du canton de Fribourg, appelée "Busia County". Cette carte vous permet désormais de visualiser <span style="font-weight: 800;">les avancées de nos projets</span> de plantation d'arbres.</p>
                <div class="map-container2 container2_maps">
                    {{> googleMap name="exampleMap" options=fullMapOptions}}
                </div>
            </div>
            <div class="secondaryMainPageDiv">
                <h2 style="color:white;text-align:center;">Les projets auxquels vous avez contribué</h2>
                <p style="color:white;text-align:center;">Sélectionnez un projet pour obtenir plus d'informations.</p>
                <ol style="color:white;text-align: center;list-style-position: inside;">
                    {{#each treeProjects}}
                        {{#each profile.trees}}
                            <li style="color:white;"><a href="" class="lienArbres {{this}}">Projet ID n°{{this}}</a></li>
                        {{/each}}
                    {{/each}}
                </ol>
            </div>
            {{else}}
                <!--si le user n'a pas son email qui est vérifié-->
                <div class="mainPageDiv divUnverified">
                    <div class = "maps_info" align="center">
                        <span class="monAdmin" style="margin-top:0px;background-color:lightgreen;">MERCI DE VÉRIFIER VOTRE EMAIL</span>
                        <p class="pReg">Pour des raisons de sécurité, nous allons vous envoyer un email de vérification sur votre boîte mail.</p>
                        <p class="pReg">Veuillez cliquer sur le bouton ci-dessous pour valider votre email actuel.</p>
                        <p class="pReg"><button id="validateEmail" class="buttonGeneral" style="color:grey;border-color:lightgreen">VALIDER MON EMAIL</button></p>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        <!--si le user est connecté et que son email est vérifié, on affiche le footer-->
        {{#if isVerified}}
            {{> footerApp}}
        {{else}}
            {{#if isAdmin}}
                {{> footerApp}}
            {{/if}}
        {{/if}}
    {{else}}
        <!-- si le user n'est pas connecté, on affiche les boutons pour se connecter-->
        {{> loginBtn}}
    {{/if}}
</template>