<template name="changePassword">
    {{> disconnectHeader}}
    <div class = "mainPageDiv">
        <div class = "maps_info" align="center">
            <form id="formChangePass">
                <p>Mot de passe actuel : </p>
                <p><input type="password" id="oldPass" placeholder="Mot de passe actuel"></p>
                <p>Nouveau mot de passe :</p>
                <p><input type="password" id="newPass" placeholder="Nouveau mot de passe"></p>
                <p>Confirmer nouveau mot de passe :</p>
                <p><input type="password" id="newPassConf" placeholder="Répéter mot de passe"></p>
                <p><input type="submit"></p>
            </form>
        </div>
    </div>
</template>