<template name="changePassword">
    <form id="formChangePass">
        <p>Mot de passe actuel : </p>
        <p><input type="password" id="oldPass" placeholder="Mot de passe actuel"></p>
        <p>Nouveau mot de passe :</p>
        <p><input type="password" id="newPass" placeholder="Mot de passe actuel"></p>
        <p>Confirmer nouveau mot de passe :</p>
        <p><input type="password" id="newPassConf" placeholder="Mot de passe actuel"></p>
        <p><input type="submit"></p>
    </form>
</template>