<template name="changePassword">
    {{#if currentUser}}
        {{> disconnectHeader}}
        <div class = "mainPageDiv">
            <div class = "maps_info" align="center">
                <span class="monAdmin" style="margin-top:0px;">Modifier mon mot de passe</span>
                <form id="formChangePass">
                    <p class="pReg"><b>Mot de passe actuel :</b></p>
                    <p class="pReg"><input type="password" class="inputReg" id="oldPass" placeholder="Mot de passe actuel"></p>
                    <div class ="inputPW">
                        <p class="pReg"><b>Nouveau mot de passe :</b></p>
                        <p class="pReg"><input type="password" class="inputReg" id="newPass" placeholder="Nouveau mot de passe"></p>
                        <p class="pReg hiddenP" id="passWordSafety">
                                <p class="pReg hiddenP" id="critere1" style="color:tomato;">Au moins 8 caractères</p>
                                <p class="pReg hiddenP" id="critere2" style="color:tomato;">Au moins une lettre majuscule</p>
                                <p class="pReg hiddenP" id="critere3" style="color:tomato;">Au moins un chiffre</p>
                        </p>
                    </div>
                    <p class="pReg"><em style="font-size:14px;">Confirmer nouveau mot de passe :</em></p>
                    <p class="pReg"><input type="password" class="inputReg" id="newPassConf" placeholder="Répéter mot de passe"></p>
                    <p class="pReg"><input type="submit" class="buttonGeneral" value="VALIDER"></p>
                </form>
                <p class="pReg"><button id="homeBtn" class="buttonGeneral">RETOUR</button></p>
            </div>
        </div>
        {{> footerApp}}
    {{else}}
        {{> mainPage}}
    {{/if}}
</template>