<template name="footerApp">
    <div class="myFooter">
        <img src="/images/emaualogo.png" alt="" class="logoFooter"/>
        <span class="pFooter poweredBy" style="color:rgb(41, 41, 41);text-decoration:none;"><em>Powered by <a href="https://www.meteor.com/" target="blank" class="darkA">Meteor</a></em></span>
        <a class="whiteA pFooter" href="https://emaua.org/fr/home-emaua/" target="blank">Site Web</a>
        <a class="whiteA pFooter" href="mailto:info@emaua.org" target="blank">info@emaua.org</a>
        <span class="whiteA txtCopyright" style="float:left;margin-top:30px;">© - Local ressources for better living</span>
    </div>
</template>