<template name='loginPage'>
    {{> disconnectHeader}}
    <div class = "mainPageDiv">
        <div class = "maps_info" align="center">
            <p>Nom d'utilisateur/email <br> <input type="text" placeholder="Nom d'utilisateur ou email" id="usernameLogin" class="inputReg"/></p>
            <p>Mot de passe <br> <input type="password" placeholder="Entrer ici" id="passwordLogin" class="inputReg"/></p>
            <p><input type="button" id="boutonLogin" value="se connecter"/><input type=button id="annulerLogin" value="annuler"/></p>
        </div>
    </div>
</template>