<template name="loginBtn">
    <div class="loginDiv">
        <div align="center" class="loginplatform">
            <button class="btnLogin btn_top" id="registerButton">CRÉER UN COMPTE GRATUIT</button><hr class="hr_platform">
            <button class="btnLogin btn_bottom" id="registerButtonPremium">CRÉER UN COMPTE PAYANT</button>
        </div>
        <p>
            <table border=0>
                <tr border=0>
                    <td border=0>
                        <form id="codeButton">
                            <input type="text" id="monCode" placeholder="Entrer un code" class="codeTree"/>
                            <input type="submit" class="codeButton" value="✓">
                        </form>
                    </td>
                    <td border=0>
                        <a class="txtLogin" id="loginButton" href="">SE CONNECTER</a>
                    </td>
                </tr>
            </table>
        </p>
    </div>
</template>