<template name='registerPage'>
    <p>Bienvenue sur l'application Emaua ! <br/> Ici, vous pourrez voir où sont situés les arbres que vous avez contribué à planter. Nous postons également des mises à jour ici.</p>
    <p>nom : <input type="text" placeholder="entrer votre nom de famille" id="surnameReg"/></p>
    <p>prénom : <input type="text" placeholder="entrer votre prénom" id="nameReg"/></p>
    <p>email : <input type="email" placeholder="entrer votre email" id="emailReg"/></p>
    <p>mot de passe : <input type="password" placeholder="entrer ici" id="passwordReg"/></p>
    <p>répéter le mot de passe : <input type="password" placeholder="entrer ici" id="passwordRegConf"/></p>
    <p><input type="button" id="boutonReg" value="créer un compte"/><input type="button" id="annulerReg" value="annuler"/></p>
</template>