<template name="treeMaps">
  {{> disconnectHeader}}
    <div class="mainPageDiv">
      <div class="container_maps">
        <div class = "maps_info" align="center">
          <span class="monAdmin" style="margin-top:0px;">Projet {{idPlant}}</span>
          <p><b>Date de plantation : </b>{{datePlant}}</p>
          <p><b>Nombre d'arbres plantés : </b>{{nbrPlant}}</p>
          {{#each updateToAdd}}
            {{#each updateArbre}}
              <div class="divUpdate">
                <p>{{updateText}} <br />
                <span style="font-size:10px;">Posté le - <b>{{dateUpdate}}</b></span></p>
                <hr class="hrUpdate" />
              </div>
            {{/each}}
          {{/each}}
          <p class="pReg"><button class="buttonGeneral" id="backHome">RETOUR</button></p>
        </div>
      </div>
      <div class="map-container container_maps">
        {{> googleMap name="exampleMap" options=exampleMapOptions}}
      </div>
    </div>
    {{> footerApp}}
</template>