body {
  padding: 10px;
  font-family: sans-serif;
}
.h1EMAUA{
  color: #d2232a;
  text-shadow: 2px 2px #000000;
}
.btnLogin{
  color:white;
  background-color:green;
  border-color:white;
  border-radius:6px;
  font-size:15px;
  padding:5px 30px 5px 30px;
}
.txtLogin{
  color:lightgrey;
  font-size:10px;
}
.btnLogin:hover{
  background-color:lightgreen;
}
.bold{
  font-weight: 800;
}
.bold_green{
  font-weight: 800;
  color:green
}
.background{
  color:rgb(64, 64, 131)
}
.button_green{
  background-color:green;
  color:white;
  border-radius: 6px;
  align-items: stretch;
  font-weight: 800;
  font-stretch:extra-expanded;
  padding: 15px 25px 15px 25px;
}
.page_design{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: teal;
  padding:40px;
}
.codeTree{
  color:black;
  background-color:rgba(255, 0, 0, 0);
  border:none;
}
.codeTree:focus{
  outline:none;
  background-color:rgba(255, 0, 0, 0);
}
.codeButton{
  border-radius:25px;
  color:white;
  background-color:rgb(183, 241, 178);
  border:none;
}
.codeButton:hover{
  background-color:rgb(117, 238, 106);
}
#monCode{
  width:100px;
}